/* @font-face {
  font-family: "Organetto";
  src: url("/RebelGames/fonts/Organetto-BoldExp.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Organetto";
  src: url("/RebelGames/fonts/Organetto-BoldExp.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Organetto";
  src: url("/RebelGames/fonts/Organetto-BoldSemiExp.ttf") format("truetype");
  font-weight: 600; /* Example weight */
/* }  */

/* @font-face {
  font-family: "Organetto";
  src: url("/RebelGames/fonts/Organetto-RegularExp.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Organetto";
  src: url("/RebelGames/fonts/Organetto-RegularSemiExt.ttf") format("truetype");
  font-weight: 400; /* Example weight */
/* }  */
@font-face {
  font-family: "Ovo";
  src: url("/RebelGames/fonts/Ovo-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Century";
  src: url("/RebelGames/fonts/Century Handtooled ITC Std Regular.otf")
    format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Bangers";
  src: url("/RebelGames/fonts/Bangers-Regular.ttf") format("truetype");
}

body {
  background-color: rgb(26 34 44);
  /* background-color: rgb(0, 0, 0); */
  /* background: "rgb(26 34 44)"; */
  font-family: "Bangers";
  /* font-family: sans-serif; */
}

.rebel-header-btn {
  border: 1px solid white;
}
.RebelGames-block-item {
  padding: 5px;
  width: 25%;
}

@media (max-width: 920px) {
  .RebelGames-block-item {
    padding: 5px;
    width: 33.33333%;
  }
}
@media (max-width: 480px) {
  .RebelGames-block-item {
    padding: 5px;
    width: 50%;
  }
}
.RebelGames-card {
  width: 100%;
  /* background-image: ; */
}
.style-card {
  display: none;
}

.style-card-header {
  /* background-image: url("../../public/RebelGames/images/gamePanel/card-header.png"); */
  display: block;
  margin: 0;
  padding: 0;
}
.RebelGames-card-footer {
  /* background-image: url("../../public/RebelGames/images/gamePanel/card-header.png"); */
  display: block;
  margin: 0;
  padding: 0;
}
.style-card-body {
  background-color: #3a3a3c;
  margin: 0;
  padding: 0;
}
.RebelGames-card-body-contain {
  width: inherit;
  padding: 20px;
}
.style-table-row {
  margin: 0 5px;
  transition:
    max-height 0.3s,
    padding 0.3s;
}
.style-th-row {
  /* background-color: #3a3a3c; */

  transition:
    max-height 0.3s,
    padding 0.3s;
}
.style-table-row > div:nth-child(even) {
  background-color: #1c2434;
  transition:
    max-height 0.3s,
    padding 0.3s;
}
.style-table-row > div:nth-child(odd) {
  background-color: #151c27;
  transition:
    max-height 0.3s,
    padding 0.3s;
}
/* .RebelGames-tbody-row {
  background-color: #545454;
  border-bottom: 5px solid #3a3a3c;
} */
.connect-btn {
  background-image: url("/../../public/RebelGames/images/component/btnImg.png"); /* Path to your image */
  background-size: cover; /* Adjust size to cover the button */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent repeating the background image */
  border: none; /* Remove border if needed */
  width: 150px; /* Set width */
  height: 50px; /* Set height */
  color: #fff; /* Text color (optional) */
  text-align: center; /* Center text horizontally */
  line-height: 50px; /* Center text vertically */
  cursor: pointer; /* Pointer cursor on hover */
  /* font-size: 16px;  */
  font-family: Arial, sans-serif; /* Font family for the button text */
  border-radius: 5px; /* Rounded corners (optional) */
}

.game-item-title {
  display: none;
}
.slots {
  display: none;
}
.splite-line {
  display: none;
}
.footer-wargerinfo-table {
}
.SlotsList_slot-image {
  display: none;
}
.menu-button-connect {
  align-items: center;
  background: linear-gradient(90deg, #5fa5ea, #2f71de);

  border-radius: 4px;
  border-right: none;
  color: #fff;
  display: flex;
  font-size: 12px;
  font-weight: 200;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  min-width: 100px;
  padding: 0 20px;
  gap: 20px;
}
.game-block-item-content-img:hover {
  transform: scale(1.05);
}
.image-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  opacity: 1;
  z-index: 5;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.image-container:hover .image-outline {
  opacity: 1;
}

.game-block-item-content-img {
  z-index: 4;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
}
.game-block-out-content-img {
  z-index: 2;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
}

.game-block-out-content-img:hover {
  cursor: pointer; /* Changes the cursor to a pointer */
  transform: scale(1.5);
}
