.banner {
  /* background-image: url("../../public/images/project/banner.png"); */

  /* background-repeat: no-repeat; */
  /* background-position: center; */
  max-width: 100%;

  margin-bottom: 20px;
  animation: blink 1s infinite;
  /* Blinking effect with 1-second duration */
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}
.sidebar-item {
  font-size: 20px;
  /* box-sizing: border-box; */
  box-shadow: 2px 1px 10px 1px #35475d;
  border: 1px solid #1e6e80;
}
.sidebar-item:hover {
}
.wallet-adapter-modal.wallet-adapter-modal-fade-in {
  opacity: 1;
}
.payment-gap {
  border-left: 1px solid hsla(0, 0%, 100%, 0.2);
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.wallet-adapter-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity linear 150ms;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  overflow-y: auto;
}
.wallet-adapter-modal-wrapper {
  box-sizing: border-box;
  padding: 20px 20px 30px 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1050;
  max-width: 800px;
  border-radius: 10px;
  border: 1px solid #1c2d32;
  background: #10141f !important;

  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  flex: 1;
}
@media (max-width: 767px) {
  .wallet-adapter-modal-wrapper {
    max-width: 400px;
  }
}
.wallet-modal-button {
  background-color: #10141f;
  border: none;

  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 4px;
}

.wallet-adapter-button {
  align-items: center;
  background: linear-gradient(90deg, #5fa5ea, #2f71de);

  border-radius: 4px;
  border-right: none;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  min-width: 100px;
  padding: 0 10px;
}
.wallet-adapter-modal-wrapper .wallet-modal-button {
  width: 100%;
}
.wallet-modal-button:not([disabled]):hover {
  background-color: #1a1f2e;
}
.wallet-adapter-modal-list {
  margin: 0 0 12px 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.wallet-adapter-modal-list .wallet-modal-button {
  font-weight: 400;
  border-radius: 0;
}
.wallet-adapter-modal-list .wallet-modal-button span {
  margin-left: auto;
  font-size: 14px;
  opacity: 0.6;
}

.wallet-adapter-modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10141f;
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 12px;
  cursor: pointer;
  /* background-color: rgb(255, 149, 21); */
  border: none;
  border-radius: 50%;
}

.wallet-adapter-modal-button-close:focus-visible {
  outline-color: white;
}

.wallet-adapter-modal-button-close svg {
  fill: #777;
  transition: fill 200ms ease 0s;
}

.wallet-adapter-modal-button-close:hover svg {
  fill: #fff;
}
.wallet-adapter-modal-container {
  display: flex;
  margin: 3rem;
  /* margin-top: 10%; */
  /* min-height: calc(100vh - 6rem); */
  /* align-items: center; */
  justify-content: center;
}
.SlotsList_slot-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  opacity: 0;
  z-index: 5;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  /* background: rgba(73, 131, 181, .85); */
  background: linear-gradient(
    149deg,
    rgba(73, 131, 181, 0.65) -1.28%,
    rgba(5, 42, 72, 0.65)
  );
}
.Quick_Link {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background-color: #151a33;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.Quick_Link:hover .SlotsList_slot-image {
  opacity: 1;
  z-index: 3;
  /* transform: translateY(-3px); */
  transform: translateY(-3px);
}

.Quick_Link :hover {
  transform: translateY(-3px);
  cursor: pointer;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    149deg,
    rgba(13, 34, 52, 0.85) -1.28%,
    rgba(4, 13, 21, 0.85)
  );
}

@media (max-width: 480px) {
  .wallet-adapter-modal-container {
    margin-top: 15%;
    /* margin: 1rem; */
    /* min-height: calc(100vh - 3rem); */
  }
  .wallet-adapter-modal-container button {
    display: flex;
    justify-content: center;
  }
  .wallet-adapter-modal-list span {
    display: none;
    list-style: none;
  }
  .wallet-adapter-modal-list li {
    margin-bottom: 10px;
  }
  .wallet-adapter-button {
    line-height: 25px;
  }
  .wallet-adapter-modal-wrapper {
    min-height: cal(100vh-40%);
  }
}
.games {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  font-family: oswald;
}
.bannerDown {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-bottom: 30px;
}

.bannerDownLeftLine {
  background: linear-gradient(270deg, #434b71 0%, rgba(39, 47, 72, 0) 98.2%);
  width: 25%;
  height: 2px;
}

.bannerDownRightLine {
  background: linear-gradient(90deg, #434b71 0%, rgba(39, 47, 72, 0) 98.2%);
  width: 30%;
  height: 2px;
}
@keyframes title_color {
  0% {
    color: rgb(255, 149, 21);
    font-size: 35px;
  }

  50% {
    color: green;
    font-size: 37px;
  }
  100% {
    color: rgb(255, 149, 21);
  }
}
.bannerDownText {
  /* text-shadow: rgb(1, 104, 239) 1px 0 10px; */
  /* text-shadow: 1px 1px 2px rgb(255, 0, 225), 0 0 1em blue, 0 0 0.2em blue; */
  font-size: 35px;
  color: rgb(255, 149, 21);
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  animation-name: title_color;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 600px) {
  .game-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 900px) {
  .game-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 900px) {
  .game-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 0 20px;
  }
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
}
.game:hover {
  transform: scale(1.1);
  filter: brightness(1.5);
}
.game {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  font-family: oswald;
  margin-bottom: 20px;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  /* Smooth transition */
  cursor: pointer;
  /* Change cursor to hand */
}
/* #container {
  width: 100%;
  height: 65vh;
  margin-top: 0;
  /* or any height you need */
/* overflow: hidden;
  position: relative;
  background-color: #141931;
  z-index: 1000;
} */
.ReactModal__Overlay {
  background-color: transparent !important;
}
.qrcode {
  display: flex;
  justify-content: center;
}
.main-contain {
  background-color: #191f3b;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  top: 0;
  overflow: hidden;
  height: auto;
  margin-bottom: 40px;
}
.game-content {
  position: relative;
  width: 100%;
}
.aspect-ratio {
  position: relative;
  width: 100%;
}
.game-bar {
  background-color: #151a33;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.game-container {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;

  overflow: hidden;
  background-color: black;
}
.main-contain iframe {
  width: 100%;

  height: 80vh;
  border: none;
  overflow: hidden;
}
/* .iframe-down {
  background-color: #151a33;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
} */
.back-btn {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.mini-card {
  background: linear-gradient(
    180deg,
    rgba(102, 180, 204, 0.1),
    rgba(94, 103, 158, 0.1)
  );
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 20px;
  display: flex;
  padding: 3px 7px;
}
.scroll-change {
  background-color: rgb(36 48 63);
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  /* max-width: 1400px; */
}
.footer-container {
  width: 1000%;
}

.tooltipContainer {
  position: relative;
  display: inline-block;
}
.tooltip {
  width: max-content;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the button */
  /* left: 50%; */
  right: 0;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.footer-modal-small-card {
  margin-top: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 44px;
  background-color: #181f33;
  justify-content: center;
  border: 1px solid #252b4e;
}
.BetResult-user-display {
  padding: 25px 35px 20px;
  width: 100%;
  border-radius: 6px;
  margin-top: 20px;
  background-color: #111625;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #191f3a;
  flex-direction: column;
}
.BetResult-gamename {
  display: flex;
  gap: 10px;
  align-items: center;
}
.BetResult-game-detail {
  margin-top: 10px;
}
.BetResult-gam-detail-content {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.BetResult-detail-content {
  width: 100%;
  padding-top: 20px;
}
.BetResult_item-content {
  padding-bottom: 20px;
}
.BetResult-detail-item-row {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.BetResult-detail-item {
  flex: 1 1 33%;
  font-family: var(--main-font);
}
.WarningNotice {
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.2);

  color: white;
  /* color: #ff9254; */
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.footer-modal-button {
  background-color: #64b425;
  border: 2px solid #7dd934;
  padding: 10px 20px;
  color: white;
  text-align: center;
  font-weight: medium;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.footer-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10010;
  background-color: rgba(15, 19, 40, 0.8);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: scroll;
}
/* @media (max-width: 920px) {
  .wallet-adapter-modal-wrapper {
    max-width: 400px;
  }
} */
.ReactModal__Overlay {
  z-index: 1000; /* Overlay should be on top of other content */
}

.ReactModal__Content {
  z-index: 1001; /* Modal content should be on top of the overlay */
}
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  display: flex;
  align-items: center;
  /* width: 200px;
  
    height: 100px; */
  /* padding: 10px 10px; */
  /* background-color: black; */
  /* color: white; */
  text-align: center;
  /* line-height: 100px; */
  cursor: pointer;
}

.dropdown-menu {
  display: block;
  width: max-content;
  position: absolute;
  background-color: rgb(28, 36, 50);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-menu a {
  color: rgb(205, 205, 205);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: rgb(34, 42, 57);
}

.dropdown-menu span {
  font-weight: bold;
  color: red;
}

.dropdown-menu .selected {
  font-weight: bold;
}
.menu-button-wallet {
  align-items: center;
  /* background: linear-gradient(90deg, #5fa5ea, #2f71de);
   */
  background: radial-gradient(
      100% 100% at 50% 100%,
      #5fdb00 0,
      rgba(75, 173, 0, 0.3) 100%
    ),
    #3e7b0f;
  border-radius: 4px;
  border-right: none;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  min-width: 100px;
  padding: 0 10px;
}

.menu-button-connect {
  align-items: center;
  background: linear-gradient(90deg, #5fa5ea, #2f71de);

  border-radius: 4px;
  border-right: none;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  min-width: 100px;
  padding: 0 20px;
  gap: 20px;
}
.custom-input-date::-webkit-calendar-picker-indicator {
  background: transparent;
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

[x-cloak] {
  display: none !important;
}

.ktable-row > div:nth-child(even) {
  background-color: #1c2434;
  transition:
    max-height 0.3s,
    padding 0.3s;
}
.ktable-row > div:nth-child(odd) {
  background-color: #151c27;
  transition:
    max-height 0.3s,
    padding 0.3s;
}
/* /////////----------main ------------/////// */

.games-block {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -5px;
  padding: 0 0 40px;
  position: relative;
}
.games-block-item {
  padding: 5px;
  width: 16.6666666666%;
}

@media (max-width: 920px) {
  .games-block-item {
    padding: 5px;
    width: 25%;
  }
}
@media (max-width: 480px) {
  .games-block-item {
    padding: 5px;
    width: 50%;
  }
}
.game-block-item-inner {
  border-radius: 4px;
  flex: 0 1 auto;
  overflow: hidden;
  position: relative;
}
.game-block-item-content {
  background-color: #232c35;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.game-block-item-content-img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 100%;
  width: 100%;
}
.game-item-title {
  padding: 8px 0;
  text-align: center;
  width: 100%;
  color: #fff;
  flex-wrap: wrap;
  font-size: 18px;
}
.game-item-title-vender {
  align-items: center;
  color: #7c8497;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 10px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  line-height: normal;
}
.game-item-title-p {
  color: #fff;
  display: block;

  font-weight: 700;
  overflow: hidden;

  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
  width: 100%;
  font-size: 12px;
  padding: 0 10px;
  line-height: normal;
}
.sub-title {
  align-items: center;
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 700;
  justify-content: flex-start;
  text-transform: capitalize;
}

.footer--modal-wrapper {
  box-sizing: border-box;
  /* padding: 20px 20px 30px 20px; */
  position: relative;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1050;
  max-width: 500px;
  border-radius: 10px;
  border: 1px solid #1c2d32;
  background: #141a2b;

  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  flex: 1;
}
.wallet-manage-modal-button {
  background-color: #64b425c4;
  border: 2px solid #7dd93475;
  padding: 5px 10px;
  color: white;
  text-align: center;
  font-weight: medium;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.wallet-manage-modal-button:disabled {
  background-color: #464e3fc4;
  cursor: not-allowed;
}

.affiliates-section {
  flex: 1 1;
  height: 68px;
  background-color: #2c3642;
  border: 1px solid #282f53;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.affiliates-left {
  display: flex;
  align-items: center;
}
.affiliates-text {
  padding-left: 10px;
}
.value-display {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.display-icon {
  width: 17px;
}
.affiliates-small-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  min-width: 0;
  height: 0;
  padding: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  background: linear-gradient(149.01deg, #f1bb1c 20.89%, #ff8d01 84.15%);
  background-color: #ffbe18;
  color: #fff;
  border-radius: 6px;
  border: 1px solid hsla(0, 0%, 100%, 0.082);
  transition:
    box-shadow 0.5s ease-in-out,
    background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

.button-inner-content {
  display: flex;
  align-items: center;
  z-index: 2;
  position: relative;
  font-size: 13px;
}
.input-inline-btn-container {
  position: relative;
  border-radius: 6px;
  border: 1px solid rgb(49 61 74);
  background: radial-gradient(
    ellipse farthest-corner at 50% 100%,
    rgb(49 61 74),
    rgb(49, 62, 77)
  );
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  transition: border 0.3s ease-in-out;
}
.input-inline-btn-container input:focus {
  border-color: transparent;
  outline: none;
  border: none;
}
.input-inline-btn-container input:focus ~ .Input_btn-container {
  border-color: #2099ff;
}
.input-inline-btn-container:focus-within {
  border-color: #2099ff;
}

.Input_btn-container {
  align-items: center;
  flex-grow: 0;
  display: flex;
  gap: 5px;
  margin-right: 15px;
}
.input-btn {
  border-radius: 6px;
  padding: 5px;
  min-width: 100px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  background: linear-gradient(149.01deg, #f1bb1c 20.89%, #ff8d01 84.15%);
  background-color: #ffbe18;
  color: #fff;
  border: none;
  border: 1px solid hsla(0, 0%, 100%, 0.082);
}
.Button_inner-content {
  line-height: normal;
}
.wallet-modal-message {
  flex: 1 1;
  height: 68px;
  max-width: 710px;
  background-color: #141c27;
  border: 1px solid rgb(46 58 71 / var(--tw-border-opacity));
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  width: 100%;
}
@media (max-width: 768) {
  .wallet-modal-message {
    max-width: 360px !important;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.close-button svg {
  fill: #777;
  transition: fill 200ms ease 0s;
}
.close-button:hover svg {
  fill: white;
}
