.rebel-header-btn {
  border: 1px solid white;
}
.RebelGames-block-item {
  padding: 5px;
  width: 25%;
}

@media (max-width: 920px) {
  .RebelGames-block-item {
    padding: 5px;
    width: 33.33333%;
  }
}
@media (max-width: 480px) {
  .RebelGames-block-item {
    padding: 5px;
    width: 50%;
  }
}
.RebelGames-card {
  width: 100%;
  /* background-image: ; */
}
.RebelGames-card-header {
  /* background-image: url("../../public/RebelGames/images/gamePanel/card-header.png"); */
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}
.RebelGames-card-header #card-img {
  height: 100px;
}
.RebelGames-card-footer {
  /* background-image: url("../../public/RebelGames/images/gamePanel/card-header.png"); */
  display: block;
  margin: 0;
  padding: 0;
}
.RebelGames-card-body {
  background-color: #3a3a3c;
  margin: 0;
  padding: 0;
}
.RebelGames-card-body-contain {
  width: inherit;
  padding: 20px;
}
.RebelGames-table-row {
  margin: 0 5px;
  transition:
    max-height 0.3s,
    padding 0.3s;
}
.RebelGames-table-row > p {
  font-size: 30px;
}

.RebelGames-th-row {
  background-color: #3a3a3c;

  transition:
    max-height 0.3s,
    padding 0.3s;
}
.RebelGames-th-row p {
  font-size: 30px;
}
.RebelGames-tbody-row {
  background-color: #545454;
  border-bottom: 5px solid #3a3a3c;
}
.RebelGames-tbody-row {
  font-size: 30px;
}
.connect-btn {
  background-image: url("/../../public/RebelGames/images/component/btnImg.png"); /* Path to your image */
  background-size: cover; /* Adjust size to cover the button */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent repeating the background image */
  border: none; /* Remove border if needed */
  width: 150px; /* Set width */
  height: 50px; /* Set height */
  color: #fff; /* Text color (optional) */
  text-align: center; /* Center text horizontally */
  line-height: 50px; /* Center text vertically */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size for the button text */
  font-family: Arial, sans-serif; /* Font family for the button text */
  border-radius: 5px; /* Rounded corners (optional) */
}
.RebelGames-game-block-item-content {
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.RebelGames-game-block-item-inner {
  border-radius: 4px;
  flex: 0 1 auto;
  overflow: hidden;
  position: relative;
}
.RebelGames-Quick_Link {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.RebelGames-connect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
}
@media (max-width: 480px) {
  .RebelGames-th-row p {
    font-size: 30px;
  }
  .RebelGames-tbody-row {
    font-size: 20px;
  }
}
